extends layout.pug 

block content 
    h1.heading.text-center Articles 
    if (articles.length)
        each article in articles
            each n in articles 
                .accordion#articles
                    .accordion-item.mb-3
                        h2.accordion-header(id=`heading${ n }`)
                            button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target=`#collapse${ n }` aria-expanded="true" aria-controls=`collapse${ n }`) #{ article.title }
                        .accordion-collapse.collapse.show(aria-labelledby=`#collapse${ n }` id=`collapse${ n }` data-bs-parent="#articles")
                            .accordion-body
                                b #{ article.category } 
                                br
                                span #{ article.description }
    else 
        p.alert.alert-warning No articles available 
        a.btn.btn-outline-success(href="/createNew") New Article

