extends layout.pug 

block content 
    h1.heading.text-center Articles 
    if (articles.length)
        each article in articles
            .accordion#articles
                .accordion-item
                    h2.accordion-header#headingOne
                        button.accordion-button.d-flex.justify-content-end(type="button" data-bs-toggle="collapse" data-bs-target=`#collapse${ article.id }` aria-expanded="true" aria-controls=`collapse${ article.id }`) #{ article.title }
                    .accordion-collapse.collapse(id=`collapse${ article.id }` aria-labelledby=`#collapse${ article.id }` data-bs-parent="#articles")
                        .accordion-body
                            if categories[article.category]
                                p.article-title #{ categories[article.category] } 
                            p.w-100.text-justify.text-break #{ article.description }
                        .controls.d-flex.justify-content-end
                                a.py-3.text-secondary(href=`/edit-article/${ article.id }`)
                                    i.fa-solid.fa-pen-to-square
                                a.py-3.mx-3.text-secondary(href=`/delete-article/${ article.id }`)
                                    i.fa-solid.fa-trash
                                
    else 
        p.alert.alert-warning No articles available 
        a.btn.btn-outline-success(href="/createNew") New Article

